<div>
    <h1 class="text-center">New Article</h1>

    <form asp-controller="articles" asp-action="new" method="post">
        <div>
            <label for="title">Title (required):</label><br>
            <input type="text" name="title"><br>
        </div>

        <div>
            <label for="author">Author (required):</label><br>
            <input type="text" name="author">
        </div>

        <div>
            <label for="content">Content: (required)</label><br>
            <input type="text" name="content">
        </div>

        <div>
            <label for="content">Category: (required)</label><br>
            <input type="text" name="category">
        </div>
        <button>Submit</button>
    </form>
</div>
