@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome To MITT News
    </h1>

    <a href="https://localhost:7047/Home/About">

        <p>Todays Students Compition</p>

    </a>
    <a asp-controller="home" asp-action="contact">

        <p>This Weeks Sports Result</p>

    </a>
    <a asp-controller="home" asp-action="privacy">

        <p>SD2000 New Class IntroDuction</p>

    </a>
    <a asp-controller="home" asp-action="about">

        <p>New Fee Raise Protest</p>

    </a>
</div>
